In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("user_behavior_dataset.csv")
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User ID                     700 non-null    int64
 1   Device Model                700 non-null    object
 2   Operating System            700 non-null    object
 3   App Usage Time (min/day)    700 non-null    int64
 4   Screen On Time (hours/day)  700 non-null    float64
 5   Battery Drain (mAh/day)     700 non-null    int64
 6   Number of Apps Installed    700 non-null    int64
 7   Data Usage (MB/day)         700 non-null    int64
 8   Age                         700 non-null    int64
 9   Gender                      700 non-null    object
 10  User Behavior Class         700 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 60.3+ KB

In [4]:
df.describe()

,User ID,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,User Behavior Class
count,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,350.50000,271.128571,5.272714,1525.158571,50.681429,929.742857,38.482857,2.990000
std,202.21688,177.199484,3.068584,819.136414,26.943324,640.451729,12.012916,1.401476
min,1.00000,30.000000,1.000000,302.000000,10.000000,102.000000,18.000000,1.000000
25%,175.75000,113.250000,2.500000,722.250000,26.000000,373.000000,28.000000,2.000000
50%,350.50000,227.500000,4.900000,1502.500000,49.000000,823.500000,38.000000,3.000000
75%,525.25000,434.250000,7.400000,2229.500000,74.000000,1341.000000,49.000000,4.000000
max,700.00000,598.000000,12.000000,2993.000000,99.000000,2497.000000,59.000000,5.000000

In [5]:
df.isnull().sum()

User ID                       0
Device Model                  0
Operating System              0
App Usage Time (min/day)      0
Screen On Time (hours/day)    0
Battery Drain (mAh/day)       0
Number of Apps Installed      0
Data Usage (MB/day)           0
Age                           0
Gender                        0
User Behavior Class           0
dtype: int64

In [9]:
# Count By Device Model
df.groupby("Device Model")["Device Model"].value_counts().sort_values(ascending=False)

Device Model
iPhone 12             146
Xiaomi Mi 11          146
Google Pixel 5        142
Samsung Galaxy S21    133
OnePlus 9             133
Name: count, dtype: int64

In [10]:
# Count By Opearting syaytem
df.groupby("Operating System")["Operating System"].value_counts().sort_values(ascending=False)

Operating System
Android    554
iOS        146
Name: count, dtype: int64

In [11]:
# Count By Gender
df.groupby("Gender")["Gender"].value_counts().sort_values(ascending=False)

Gender
Male      364
Female    336
Name: count, dtype: int64

In [48]:
# Average Usage, Screen time and battery drain by device Model
df.groupby("Device Model").agg({"App Usage Time (min/day)":"mean","Screen On Time (hours/day)":"mean","Battery Drain (mAh/day)":"mean"}).round(2)

,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day)
Device Model,,,
Google Pixel 5,267.79,5.08,1475.68
OnePlus 9,270.38,5.24,1523.85
Samsung Galaxy S21,266.42,5.32,1504.57
Xiaomi Mi 11,268.45,5.29,1528.88
iPhone 12,282.02,5.43,1589.51

In [33]:
# Most Sued Operating Syastem
df.groupby("Operating System")["Operating System"].count()

Operating System
Android    554
iOS        146
Name: Operating System, dtype: int64

In [46]:
# Average Age By gender
df.groupby("Gender")["Age"].mean().round()

Gender
Female    38.0
Male      39.0
Name: Age, dtype: float64

In [39]:
# Average Battery Drain and Data Usage by Gender
df.groupby("Gender").agg({"Number of Apps Installed":"mean","Data Usage (MB/day)":"mean"}).round(2)

        Number of Apps Installed  Data Usage (MB/day)
Gender
Female                     50.23               914.32
Male                       51.10               943.98

In [52]:
df.corr(numeric_only=True)

,User ID,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,User Behavior Class
User ID,1.000000,-0.024957,-0.014287,-0.019377,-0.023914,-0.014527,0.045188,-0.016242
App Usage Time (min/day),-0.024957,1.000000,0.950333,0.956385,0.955253,0.942308,0.004382,0.970498
Screen On Time (hours/day),-0.014287,0.950333,1.000000,0.948983,0.946975,0.941322,0.017232,0.964581
Battery Drain (mAh/day),-0.019377,0.956385,0.948983,1.000000,0.961853,0.932276,-0.002722,0.978587
Number of Apps Installed,-0.023914,0.955253,0.946975,0.961853,1.000000,0.934800,0.004034,0.981255
Data Usage (MB/day),-0.014527,0.942308,0.941322,0.932276,0.934800,1.000000,0.003999,0.946734
Age,0.045188,0.004382,0.017232,-0.002722,0.004034,0.003999,1.000000,-0.000563
User Behavior Class,-0.016242,0.970498,0.964581,0.978587,0.981255,0.946734,-0.000563,1.000000

In [54]:
# Average apps Install by Device Model
df.groupby("Device Model")["Number of Apps Installed"].mean().round(2)

Device Model
Google Pixel 5        49.91
OnePlus 9             49.97
Samsung Galaxy S21    50.80
Xiaomi Mi 11          49.92
iPhone 12             52.73
Name: Number of Apps Installed, dtype: float64

In [57]:
# Which opearting system Used more Data
df.groupby("Operating System")["Data Usage (MB/day)"].mean().round(2).sort_values(ascending=False)

Operating System
iOS        965.51
Android    920.32
Name: Data Usage (MB/day), dtype: float64

In [64]:
# Most Device model used By gender
df.groupby(["Gender","Device Model"])["Device Model"].count()

Gender  Device Model
Female  Google Pixel 5        69
        OnePlus 9             61
        Samsung Galaxy S21    54
        Xiaomi Mi 11          78
        iPhone 12             74
Male    Google Pixel 5        73
        OnePlus 9             72
        Samsung Galaxy S21    79
        Xiaomi Mi 11          68
        iPhone 12             72
Name: Device Model, dtype: int64